.postSection--bigSidePic
.bigSidePic {

  /*NOT IN USE
  .mdl-card__media {
    img {
      width: 100%;
      height: auto;
    }
  }*/
}

.postSection--bigSidePic {
  flex-direction: row-reverse;
}

/*Does nothing
.bigSidePic__content {
  justify-content: center;
}*/

#map {
  height:400px;
}
