.postSection--bigSidePic
.bigSidePic {

  /*NOT IN USE
  .mdl-card__media {
    img {
      width: 100%;
      height: auto;
    }
  }*/
}

.postSection--bigSidePic {
  flex-direction: row-reverse;
}
.is-small-screen .postSection--bigSidePic {
  flex-direction:inherit;
}

#map {
  height:400px;
}
