.postSection--facebookFeed {

    .cff-item p {
      font-size:13.5px;
    }

    .cff-page-name.cff-author-date {
      text-transform: uppercase;
    }

    .cff-wrapper {
      padding-top: 16px;
    }

    #cff {
      height: 600px;
      overflow: scroll;
    }
}