.postSection--facebookFeed {
  max-width:$smallerContentWidth;
  .mdl-card {

    max-width:600px;
    margin-left:32px;

    p {
      font-size:14px;
    }

    .cff-page-name.cff-author-date {
      text-transform: uppercase;
    }

    .cff-wrapper {
      // @include borderBeforeContent();
      padding-top: 16px;
    }

    #cff {
      height: 400px;
      overflow: scroll;
    }

  }
}