.postSection--fullSinglePic .postSection__media {
    width:100%;
    height:290px;
    height:73vh;
    min-height:200px;
    display:flex;
    align-items: flex-start;
    background-position-x: center;
    background-position-y: center;
    margin-bottom:-97px;

    .postSection__title-text {
      font-size:2.25em;
      @include textOverImage();
      margin-top:140px;
      margin-left:18px;
    }
  }

.postSection--fullSinglePic.-maxHeight .postSection__media {
  max-height:650px;
}