.middleSingleCol {
  .mdl-card__media {
    width:100%;
    height:290px;
    display:flex;
    align-items: flex-end;

    .mdl-card__title-text {
      margin-bottom:10%;
      @include textOverImage();
    }
  }

  .mdl-card__supporting-text {
    max-width:$smallerContentWidth;
    //margin-left:auto;
    //margin-right:auto;
  }
}

/*.postSection--labInfo {
  //
}

.middleNoPic {

  .mdl-card__media {

  }

  .mdl-card__supporting-text {
    //@include borderBeforeContent();
  }

  .mdl-card__media {
    @include imageDiv();
    height:200px;
  }

  .mdl-card__title-text {
    font-size: 2.25em;
  }

  .alignleft {
    float:left;
    max-width:100%;
  }
  .alignright {
    float:right;
    max-width:100%;
  }
  .aligncenter, .alignnone {
    display:block;
     margin-left:auto;
     margin-right:auto;
     max-width:100%;
  }

  .wp-post-image {
    max-width:100%;
  }
}*/