.postSection--news {
  .mdl-card__media {
    min-height: 300px;
  }
}

/*.news__image .mdl-card__media {
  @include imageDiv();
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 350px;

  h2 {
    @include textOverImage;
  }
}*/

