
.bigSidePic {

  .mdl-card__media {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.bigSidePic--bio {
  flex-direction: row-reverse;
}

.bigSidePic__content {
  justify-content: center;
}

#map {
  height:400px;
}

.postSection--bio {
  margin-left:0px;
  margin-right:0px;
}

.contentSide {
  max-width: $maxContentWidth;
  margin-left:inherit;

}
