body, header, h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
}

h1, h2, h3, h4, h5, h6 {
  @include header-text;
}

a, a:hover {
  text-decoration: none;
}

a {
  color: $linkColor;
}

p, li, span {
  font-size: 16px;
}

p, li {
  font-family: $base-font-serif;
}

h3 {
  font-size: 20px;
}

footer.mdl-mega-footer, .caption, .cff-default-styles p {
  font-family: $base-font-family;
}

.mdl-navigation__link {
}

.mdl-navigation__link--weighted {
  @include header-text;
}

.mdl-card__supporting-text {
  color: $black;
}

.mdl-card {
  min-height: inherit;
  background-color: inherit;
}

.mdl-card__title {
  flex-direction: column;
}
.mdl-card__subtitle-text {
  align-self: flex-start;
  font-size: 15px;
}

li.mdl-list__item.klabLabMember__content {
  min-height:inherit;
  height:auto;
  padding-top:0px;
  padding-bottom:0px;
}

//TODO:CLEAN UP:
.mdl-card__title-text, h2 {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  font-weight: 700;
  font-size: 24px;
}

.mdl-card__media {
  background-color: inherit;
}

.main {
  //max-width:1000px;
}

img {
  max-width: 100%;
  height: auto;
}

.is-small-screen .postSection {
  padding: inherit;
}

.postSection {
  padding-top: 32px;
  padding-bottom: 15px;
  font-size: 16px; //variable!

  &--fullSinglePic, &--imageSlider {
    max-width: inherit;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  &--contentInBox {
    .mdl-card {
      max-width: $smallerContentWidth;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      padding-right: 10%;
      font-size: 20px;

      span, p {
        font-family: $base-font-serif;
        font-size: 18px;
        line-height: 1.7;
        //padding-top: 24px;

      }

    }
  }

  &--allPublicationsList.mdl-grid {
    max-width: $smallerContentWidth;

    &__year {
      padding-top: 18px;
      padiding-bottom: 6px;
    }

  }

  &--publicationItem {
    padding-top: 6px;
    margin-left: 2%; //check this out.

    .mdl-cell.publicationItem__title, .mdl-cell.publicationItem__authors, .mdl-cell.publicationItem__details {
      margin-top:2px;
      margin-bottom:2px;
    }
    .publicationItem__title{
      padding-bottom:5px;
      font-size:1.4rem;
    }
    .publictionItem__authors, .publicationItem__details {
      font-size:1rem;
    }
  }

}

.publicationItem {
  margin-bottom: 24px;

  &__title {
    font-weight: 700;
    font-size: 16px;
  }
}

.adminEdit {

  &--modPostsButtons {
    margin-left: 24px;
    margin-top: 12px;
    margin-bottom: 6px;

    button {
      margin-left: 2px;
      margin-right: 2px;
    }
  }

  .adminEdit__button {
    min-width: 20px;
    width: 20px;
    height: 20px;
    //background-color: $gray;

    .material-icons {
      font-size: 16px;
    }
  }
}

.adminPostTypeSect {
  border-style: solid;
  border-color: $gray;
  margin: 2px;
}

.absoluteEditButton {
  position: absolute;
  top: 10px;
  left: 18px;
}

.mdl-grid {
  max-width: 1450px;
}

.mdl-grid.mdl-grid--no-spacing {
  max-width: inherit;
}

/*.mdl-cell--6-col {
  max-width:700px;
}*/

figure.mdl-cell--4-col {
  margin: 0px;
  padding: 3px;

  img {
    width: 100%;
  }
}

//TODO: CLEAN UP!
.postList--klab_publication {
  h2 {
    align-self: flex-start;
    font-size: 24px;
    font-weight: 700;
  }

  padding-top: 8px;
  padding-bottom: 34px;
}

.linkImage {

  margin-top: 10px;
  margin-bottom: 10px;
  font-family: $base-font-serif;
}

.mdl-card__supporting-text iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

.divider {
  height: 2px;
  min-height: 2px;
  max-width: $maxContentWidth - 32px;
  background-color: $lightGrayBg;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0px;
}
