body, header, h1, h2, h3, h4, h5, h6, p  {
	font-family: $base-font-family;
}

h1, h2, h3, h4, h5, h6 {
	@include header-text;
}

a, a:hover{
	text-decoration: none;
}
a {
	color: $linkColor;
}
p {
	font-size:16px;
}

.mdl-navigation__link
{}
.mdl-navigation__link--weighted {
	@include header-text;
}

.mdl-card__title-text {
	align-self: flex-start;
	-webkit-align-self: flex-start;
	font-weight: 700;
	font-size: 24px;
}

.main {
	//max-width:1000px;
}

img {
	max-width:100%;
}

.postSection {
	margin-left:auto;
	margin-right:auto;
	//max-width:$maxContentWidth;
}



.researchCol--abstract {
	p {
		line-height:2em;
		font-style:italic;
	}
}

.mdl-grid.research-topics {
	flex-direction: row-reverse;
}



