a, a:hover {
  text-decoration: none;
}

a {
  color: $linkColor;
}
////////////////////////////////////////////////
header, h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-serif;
}

h1, h2, h3, h4, h5, h6 {
  @include header-text;
}

h1, h2 {
  font-size:36px;;
}
h3 {
  font-size:30px;
}

html, body, p, li, span {
  font-family: $base-font-sans;
  font-size:16px;
}

h6, p {
  line-height:28px;
}

footer.mdl-mega-footer, .caption, .cff-default-styles p {
  font-family: $base-font-serif;
}
///////////////////////////////////////////////////////////


.postSection__supporting-text {
  color: $black;
}

.postSection__title {
  flex-direction: column;
}
.postSection__subtitle-text {
  align-self: flex-start;
  //font-size: 15px;
}

.postSection__media {
  background-color: inherit;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.is-small-screen {
  .postSection {
  padding: inherit;
  }
  .divider {
    background-color: inherit;
  }
}
.logicalPieceOfContent {
  //padding-top: 32px;
  padding-bottom: 32px;

  &--fullSinglePic {
    padding-top: 0px;
    .postSection--contentInBox {
      padding-top:32px;

      .postSection__supporting-text {
        :first-child {

          padding-top: 0px;
          margin-top: 0px;

        }
      }
    }
  }
}

.postSection {
  //padding-top: 32px;
  //padding-bottom: 15px;

  &--fullSinglePic, &--imageSlider {
    max-width: inherit;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  &--contentInBox {
    .mdl-cell--12-col {
      max-width: $smallerContentWidth;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      padding-right: 10%;
    }
  }

}

.postSection__supporting-text, .postSection__title-text, .postSection__subtitle-text {
  padding-left:24px;
  padding-right:24px;
}

.postSection__subtitle-text {
  font-weight:700;
}


.mdl-grid {
  max-width: $maxContentWidth - 50px;
}

.mdl-grid.mdl-grid--no-spacing {
  max-width: inherit;
}

.linkImage {

  margin-top: 10px;
  margin-bottom: 10px;
  font-family: $base-font-sans;
  letter-spacing:0.04em;
}

.divider {
  height: 2px;
  min-height: 2px;
  width: $maxContentWidth - 32px;
  background-color: $lightGrayBg;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0px;
  max-width: 80%;
}

.printOnly {
  display:none;
}
