// Glyphicons font path 
//$icon-font-path:        "../fonts/";

// Image path
$image-path:        "../images/";

// Grid settings
//$main-sm-columns:       12;
//$sidebar-sm-columns:    4;

// Colors
$black: #222;
$white: #fff;
$primary-accent-color: #0a1fc7;
$gray: #ccc;
$basicTextColor : $black;
$linkColor: #0a1f82;
$linkOnHover:#00487F;
$grayBg:#dbdbdb;
$lightGrayBg:#bfbfbf;
$accent-bg:#9d9d9d;
$footerText: #d0d0d0;

//Fonts
$base-font-serif: 'Noto serif', serif;
$base-font-sans: 'Open Sans', sans-serif;
$base-line-height: 1.8em;
$base-font-size: 16px;

$base-font-color: #424242;
$kivaTurkoosi: #5bc0de;

$maxContentWidth: 1500px;
$smallerContentWidth: 1000px;

$textOverImageBg: rgba(128, 128, 128, 0.4);

//used with all headers
@mixin header-text() {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: $base-font-sans;
}

//For texts placed over images:
@mixin textOverImage() {
  background-color: $textOverImageBg;
  padding: 4px 4px 4px 4px;
  color: $white;
}

@mixin basic-link() {
  a:hover{
     text-decoration: none;
  }
}

@mixin imageDiv() {
  background-color: $primary-accent-color;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

@mixin borderBeforeContent() {
  border-top:solid;

}

@mixin dark-bg() {
  color : $white;
  background-color: $black;
  a {
    color : $white;
  }
}

@mixin primary-accent-bg() {
  color: $white;
  background-color: $primary-accent-color;
  a {
    color : $white;
  }
}

@mixin white-bg() {
  color: $basicTextColor;
  background-color: $white;
  a {
    color : $primary-accent-color;
  }
}


@mixin marginsAroundImage() {
  margin-bottom:32px;
}
//FONTS
/*@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-300/Open-Sans-300.eot?#iefix") format("embedded-opentype"), local("Open Sans Light"), local("Open-Sans-300"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-300/Open-Sans-300.ttf") format("truetype"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-300/Open-Sans-300.woff2") format("woff2"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-300/Open-Sans-300.woff") format("woff"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix") format("embedded-opentype"), local("Open Sans"), local("Open-Sans-regular"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-regular/Open-Sans-regular.ttf") format("truetype"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-regular/Open-Sans-regular.woff2") format("woff2"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-regular/Open-Sans-regular.woff") format("woff"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix") format("embedded-opentype"), local("Open Sans Semibold"), local("Open-Sans-600"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-600/Open-Sans-600.ttf") format("truetype"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-600/Open-Sans-600.woff2") format("woff2"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-600/Open-Sans-600.woff") format("woff"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-700/Open-Sans-700.eot?#iefix") format("embedded-opentype"), local("Open Sans Bold"), local("Open-Sans-700"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-700/Open-Sans-700.ttf") format("truetype"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-700/Open-Sans-700.woff2") format("woff2"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-700/Open-Sans-700.woff") format("woff"), url("https://www.helsinki.fi/sites/all/themes/helsingin_yliopisto/fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans") format("svg");
}*/