
.mdl-layout__header-row {
  max-height:50px;
  &--uni {
    height: 47px;
    @include dark-bg();
  }

  &--primary {
    @include primary-accent-bg();
  }
}

.klab-helsinkiUni {
  @include header-text();
  font-size: 14px;
  &__img {
    height:20px;
  }
}

.mdl-layout__header.is-compact {
  max-height:51px;
  min-height: 51px;
}

.mdl-layout-title--mainKlab {
  @include header-text();
}

.mdl-layout__header-row {
  @include header-text();

  a:hover.mdl-navigation__link  {
    color: $gray;
  }
}

#klab-intraLinks {
  //padding-right:20px;
  margin-left: 30px;

}

.klab-intralinkList {
  a {
    color:rgba(0,0,0,.54);
  }
}



.is-small-screen {
  .mdl-layout__header-row {
    .mdl-layout-title {
      h1 {
        font-size: 32px;
      }
    }
  }
  .mdl-layout__drawer-button {
    top:43px;
    background-color: initial;
  }

  .is-compact .mdl-layout__drawer-button {
    top:0px;
  }


}



