.mdl-layout__header-row {
  max-height:50px;
  &--uni {
    height: 47px;
    @include dark-bg();
  }

  &--primary {
    @include primary-accent-bg();
    padding-left:50px;

    .mdl-layout--large-screen-only {
      width:100%
    }
  }
  &--primary.invert {
    @include white-bg();

  }

  .active {
    text-decoration: underline;
  }
}

.primaryNav {
  .mdl-navigation__link {
    line-height: 1em;
    font-size: 16px;
  }
  .mdl-navigation__link.contrast {
    border: 2px, solid $white;
    line-height: 28px;
  }
}
.invert {
  .mdl-navigation__link.contrast {
    color: $primary-accent-color;
    border: 2px, solid $primary-accent-color;
  }
}


.klab-helsinkiUni {
  @include header-text();
  font-size: 14px;
  &__img {
    height:20px;
  }
}

.mdl-layout__header.is-compact {
  max-height:51px;
  min-height: 51px;
}

.mdl-layout-title--mainKlab {
  @include header-text();
}

.mdl-layout__header-row {
  @include header-text();

  a:hover.mdl-navigation__link  {
    color: $gray;
  }
}

.mdl-navigation__link--weighted {
  @include header-text;
}

#klab-intraLinks {
  //padding-right:20px;
  margin-left: 30px;

}

.klab-intralinkList {
  a {
    color:rgba(0,0,0,.54);
  }
}



.is-small-screen {
  .mdl-layout__header-row {
    .mdl-layout-title {
      h1 {
        font-size: 32px;
      }
    }
  }
  .mdl-layout__drawer-button {
    top:43px;
    background-color: initial;
    
    i {
      color: $base-font-color;
    }
  }

  .is-compact .mdl-layout__drawer-button {
    top:0px;
  }

}