//youtube frames, external pics
.postSection__supporting-text iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

figure.mdl-cell--4-col {
  margin: 0px;
  padding: 3px;

  img {
    width: 100%;
  }
}